/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Fin Reset CSS */

html {
	font-size: 6.25%;
}

body {
	font-family: 'Plus Jakarta Sans', sans-serif;
	color: #2F2F2F;
}

h1 {
	font-size: 26rem;
	line-height: 36rem;
	font-weight: 600;
}


h2 {
	font-size: 20rem;
	font-weight: 600;
	line-height: 24rem;
}

h3 {
	font-size: 16rem;
	font-weight: 600;
	line-height: 22rem;
}

p {
	font-size: 14rem;
	line-height: 20rem;
	font-weight: 400;
}

a {
	text-decoration: none;
}

nav ul li a{
	cursor: pointer;
}

/* Header */

.contenedor-header {
	background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
    padding: 8rem 0rem 20rem 0rem;
    position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}

header {
	max-width: 88%;
	margin: auto;
	display: grid;
	grid-template-columns: 21% 79%;
	column-gap: 20rem;
}

.logo-header {
	width: 100%;
	max-width: 152rem;
}

.buscador-carrito {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20rem;
	align-items: center;
}

.buscador-carrito form {
	grid-column: 1/3;
	display: grid;
	grid-template-columns: 1fr 36rem;
	height: 44rem;
	border: 1px solid #C0C0C0;
	border-radius: 4px;
	padding-right: 8rem;
	margin-top: 12rem;
}

.buscador-error {
	border-color: #E61C1C;
}

.buscador-carrito input {
	background-color: transparent;
	border: none;
	padding: 12rem;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 14rem;
	font-weight: 400;
}

.buscador-carrito input:focus {
	outline: none;
}

.buscador-carrito form:focus-within { 
	border: 1px solid #2D8EE9;
}

.buscador-carrito form:hover{
	border-color: #7A7A7A;
}

.buscador-carrito input::placeholder {
	color: #7A7A7A;
	opacity: 1;
}

.lupa {
	background-image: url(/img/lupa-default.svg);
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: center;
	background-color: transparent;
	border: none;
	transition: background-image 0.1s ease-in-out;
}

.lupa:hover {
	cursor: pointer;
	background-image: url(/img/lupa-hover.svg);
}

.cruz {
	background-image: url(/img/cruz-default.svg);
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: center;
	background-color: transparent;
	border: none;
	transition: background-image 0.1s ease-in-out;
}

.cruz:hover {
	cursor: pointer;
	background-image: url(/img/cruz-hover.svg);
}

.busqueda-vacia {
	font-size: 12rem;
	margin-top: 4rem;
	color: #E61C1C;
	display: none;
}

.carrito {
	background-image: url(/img/carrito-default.svg);
	border: none;
	width: 64rem;
    height: 64rem;
    background-color: transparent;
    justify-self: right;
    position: relative;
    transition: background-image 0.2s ease-in-out;
}

.carrito:hover {
	background-image: url(/img/carrito-hover.svg);
	cursor: pointer;
}

.badge {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: #1C714B;
  border-radius: 8px;
  padding: 4px 6px;
  color: #ffffff;
  font-size: 14rem;
  font-weight: 600;
}

.toast-exito {
	position: absolute;
	top: 72rem;
	right: 0rem;
	padding: 12px;
	transition: box-shadow 0.2s ease;
	background-color: #32AD4A;
	color: #fff;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
	border-radius: 4px;
	display: flex;
	align-items: center;
	opacity: 0;
	animation-name: fadeZoom;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	white-space: nowrap;
	text-align: left;
	display: none;
}

.toast-exito::before {
	content: "";
	position: absolute;
	top: -9rem;
	right: 23rem;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #32AD4A;
	z-index: -1;
}


.toast-exito img {
    margin-right: 8rem;
}

/* Fin Header */

/* Contenedor principal */

.contenedor-principal {
	max-width: 88%;
	margin: 106rem auto 0;
	display: grid;
	grid-template-columns: 21% 79%;
	column-gap: 20rem;
	padding: 48rem 0rem;
}

.contenedor-principal nav button {
	margin-top: 24rem;
    width: 100%;
    height: 44rem;
    background-color: #fff;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    padding: 12rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #2F2F2F;
    font-size: 14rem;
    text-align: left;
    background-image: url(/img/chevron-default.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8rem);
	background-position-y: center;
	background-size: 28rem;
	display: none;
}

.contenedor-principal nav ul {
	margin-top: 32rem;
}

.contenedor-principal nav ul li {
	margin-bottom: 20rem;
}

.contenedor-principal nav ul li a {
	font-size: 16rem;
	line-height: 24rem;
	color: #2F2F2F;
}

.contenedor-principal nav ul li a:hover {
	font-weight: 600;
}

.resultado-busqueda {
	font-weight: 500;
}

.sin-resultados p {
	margin-top: 20rem;
	font-size: 16rem;
	line-height: 22rem;
}

.sin-resultados .btn-primario {
	width: auto;
	margin-top: 28rem;
	margin-bottom: 16rem;
}

.categoria-elegida {
	font-weight: 600;
}

.filtros {
	margin-top: 32rem;
}

.filtros div {
	margin-top: 24rem;
}

.tag {
	padding: 12rem 20rem;
    background-color: #fff;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14rem;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #186CBA;
    color: #186CBA;
    margin: 0 10rem 12rem 0;
    cursor: pointer;
}

.tag:hover, .tag-seleccionado {
	background-color: #EAF9FF;
    color: #114F89;
    border-color: #114F89;
}

.contenedor-articulos {
	margin-top: 32rem;
	display: flex;
	flex-wrap: wrap;
	column-gap: 20rem;
	row-gap: 24rem;
	align-items: flex-start;
}

.card-articulo {
	max-width: 284rem;
	border: 1px solid #C0C0C0;
	border-radius: 4px;
	background-color: #fff;
	transition: box-shadow 0.3s ease;
}

.card-art-sk {
	width: 397.3rem;
	border: 1px solid #E7E7E7;
}

.card-articulo:hover {
	box-shadow: 0px 0px 12px 4px rgba(200, 200, 200, 0.4);
}

.card-art-sk:hover {
	box-shadow: none;
}

.color-seleccionado {
	outline: 2px solid #2D8EE9;
}

.contenedor-img-articulo {
  	width: 100%;
  	aspect-ratio: 3/2;
  	background-image: url(/img/img-ejemplo1.jpg);
  	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #fff;
}

.contenedor-img-articulo-sk {
	width: 100%;
  	aspect-ratio: 3/2;
	background-image: linear-gradient(90deg, #D8D8D8, #F3F3F3);
  	background-size: 200% 200%;
  	animation: gradientAnimation 0.8s infinite alternate;
}

.contenedor-img-articulo:hover {
	cursor: pointer;
}

.contenedor-info-articulo {
	padding: 20rem 16rem;
}

.contenedor-info-articulo h3 {
	text-transform: uppercase;
}

.h3-sk {
	background-image: linear-gradient(90deg, #D8D8D8, #F3F3F3);
  	background-size: 200% 200%;
  	animation: gradientAnimation 0.8s infinite alternate;
	border-radius: 4px;
	height: 22rem;
	width: 75%;
}

.info-gral-articulo {
	margin-top: 12rem;
}

.info-gral-articulo-sk {
	margin-top: 12rem;
	height: 20rem;
	width: 85%;
	background-image: linear-gradient(90deg, #D8D8D8, #F3F3F3);
  	background-size: 200% 200%;
  	animation: gradientAnimation 0.8s infinite alternate;
	border-radius: 4px;
}

.descripcion-titulo {
	margin-top: 8rem;
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 4rem;
}

.descripcion-titulo-sk {
	margin-top: 8rem;
	height: 20rem;
	width: 30%;
	background-image: linear-gradient(90deg, #D8D8D8, #F3F3F3);
  	background-size: 200% 200%;
  	animation: gradientAnimation 0.8s infinite alternate;
	border-radius: 4px;
}

.descripcion-titulo p {
	font-size: 12rem;
	font-weight: 600;
}

.descripcion-titulo p:hover {
	text-decoration: underline;
	cursor: pointer;
}

.chevron {
	background-image: url(/img/chevron-default.svg);
	border: none;
	width: 20rem;
    height: 20rem;
    background-color: transparent;
    transition: background-image 0.2s ease-in-out;
}

.chevron:hover {
	background-image: url(/img/chevron-hover.svg);
	cursor: pointer;
}

.chevron-up {
	transform: rotate(180deg);
}

.descripcion-texto {
	font-size: 12rem;
	margin-top: 8rem;
}

.descripcion-texto span {
	font-weight: 600;
}

.precio-cantidad {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 24rem 0 20rem;
	column-gap: 16rem;
}

.precio-card p:first-child {
	font-size: 20rem;
	font-weight: 600;
}

.precio-sk {
	height: 20rem;
	width: 50%;
	background-image: linear-gradient(90deg, #D8D8D8, #F3F3F3);
  	background-size: 200% 200%;
  	animation: gradientAnimation 0.8s infinite alternate;
	border-radius: 4px;
}

.precio-card p:last-child {
	margin-top: 4rem;
	font-size: 12rem;
}

.unidades-sk {
	margin-top: 4rem;
	height: 20rem;
	width: 55%;
	background-image: linear-gradient(90deg, #D8D8D8, #F3F3F3);
  	background-size: 200% 200%;
  	animation: gradientAnimation 0.8s infinite alternate;
	border-radius: 4px;
}

.cantidad-card {
	display: grid;
	grid-template-columns: 28rem 50rem 28rem;
	align-items: center;
	justify-items: center;
	justify-self: end;
	column-gap: 8rem;
}

.signo-sk {
	width: 28rem;
	height: 28rem;
	background-image: linear-gradient(90deg, #D8D8D8, #F3F3F3);
  	background-size: 200% 200%;
  	animation: gradientAnimation 0.8s infinite alternate;
	border-radius: 50%;
}

.menos {
	background-image: url(/img/menos-default.svg);
	border: none;
	width: 28rem;
    height: 28rem;
    background-color: transparent;
    transition: background-image 0.2s ease-in-out;
}

.menos:hover {
	background-image: url(/img/menos-hover.svg);
	cursor: pointer;
}

.mas {
	background-image: url(/img/mas-default.svg);
	border: none;
	width: 28rem;
    height: 28rem;
    background-color: transparent;
    transition: background-image 0.2s ease-in-out;
}

.mas:hover {
	background-image: url(/img/mas-hover.svg);
	cursor: pointer;
}

.cantidad-card input {
	font-family: 'Plus Jakarta Sans', sans-serif;
	padding: 13rem 12rem;
	border: 1px solid #C0C0C0;
	border-radius: 4px;
	max-width: 24rem;
	text-align: center;
	outline: none;
}

.input-number-sk {
	width: 50rem;
	height: 45rem;
	border-radius: 4px;
	background-image: linear-gradient(90deg, #D8D8D8, #F3F3F3);
  	background-size: 200% 200%;
  	animation: gradientAnimation 0.8s infinite alternate;
}

.cantidad-card input:hover {
	border-color: #7A7A7A;
}

.cantidad-card input:focus {
	border-color: #2D8EE9;
}

.btn-terciario {
	background-color: #ffffff;
	border: 1px solid #fff;
	padding: 12rem 20rem;
	border-radius: 4rem;
	color: #186CBA;
	font-weight: 500;
	width: 100%;
	transition: background-image 0.2s ease-in-out;
}

.btn-terciario:hover {
	color: #E61C1C;
	background-color: #FFE8E8;
	border-color: #FFE8E8;
	cursor: pointer;
}

.btn-secundario {
	background-color: #ffffff;
	border: 1px solid #186CBA;
	padding: 12rem 20rem;
	border-radius: 4rem;
	color: #186CBA;
	font-weight: 500;
	width: 100%;
	transition: background-image 0.2s ease-in-out;
}

.btn-secundario:hover {
	background-color: #EAF9FF;
	cursor: pointer;
}

.precio-cantidad .btn-secundario {
	padding: 12rem;	
}

.btn-primario {
	background-color: #2D8EE9;
	border: 1px solid #2D8EE9;
	padding: 12rem 20rem;
	border-radius: 4rem;
	color: #fff;
	font-weight: 500;
	width: 100%;
	transition: background-image 0.2s ease-in-out;
}


.btn-primario:hover {
	background-color: #186CBA;
	cursor: pointer;
}

.btn-primario:disabled  {
	background-color: #C0C0C0;
	border: 1px solid #C0C0C0;
	cursor: default;
}

.btn-primario-sk {
	background-image: linear-gradient(90deg, #D8D8D8, #F3F3F3);
  	background-size: 200% 200%;
  	animation: gradientAnimation 0.8s infinite alternate;
	border: none;
	border-radius: 4rem;
	width: 100%;
	height: 42rem;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.spinner {
	width: 100%;
	height: 42rem;
    padding: 12rem 20rem;
	border-radius: 4rem;
    background-color: #2D8EE9;
    border: 1px solid #2D8EE9;
    position: relative;
}

.spinner.loading:after {
    content: "";
    position: absolute;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin-top: -8px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-left-color: #FFF;
    border-top-color: #FFF;
    animation: spin 0.7s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.paginador {
	margin-top: 32rem;
	text-align: center;
}

.pagina {
	width: 40rem;
	height: 40rem;
	font-size: 16rem;
	margin: 2rem;
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 4px;
}

.pagina:hover:not(.pagina-elegida) {
	background-color: #E7E7E7;
	border: 2px solid #E7E7E7;
	cursor: pointer;
}

.pagina-elegida {
	font-weight: 600;
	background-color: #EAF9FF;
	border: 2px solid #2D8EE9;
}

.contenedor-preg-frec {
	margin-top: 32rem;
}

.card-preg-frec {
	padding: 24rem 20rem;
	border: 1px solid #C0C0C0;
	border-radius: 4px;
	border-left: 4px solid #1C714B;
	margin-bottom: 24rem;
}

.card-preg-frec h2 {
	margin-bottom: 16rem;
}


.card-preg-frec span {
	font-weight: 600;
}

.card-preg-frec a {
	color: #186CBA;
}

.card-preg-frec a:hover {
	color: #114F89;
}

/* Fin Contenedor principal */

/* Footer */

.contenedor-footer {
	background-color: #1C714B;
}

.atencion {
	background-color: #E7E7E7;
	text-align: center;
	padding: 20rem 24rem;
	font-size: 16rem;
	line-height: 24rem;
}

.atencion span {
	font-weight: 600;
}

footer {
	max-width: 88%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,auto);
    padding: 24rem 0 48rem;
    column-gap: 44rem;
}

.logo-footer {
	width: 100%;
	max-width: 128rem;
}

footer h3 {
	color: #ffffff;
	margin: 24rem 0 28rem;
}

footer li {
	font-size: 14rem;
	padding-bottom: 20rem;
	color: #ffffff;
}

footer li a {
	color: #ffffff;
}

footer li a:hover {
	text-decoration: underline;
}

footer li img {
	margin-right: 8rem;
	vertical-align: middle;
}

.afip img {
	max-width: 58.5rem;
	margin-top: 24rem;
}

.legales {
	color: #fff;
	font-size: 12rem;
	text-align: center;
	background-color: #135538;
	padding: 20rem 24rem;
	line-height: 18rem;
}

.whatsapp-float {
	position: fixed;
	bottom: 20rem;
	right: 16rem;
	width: 60rem;
	height: 60rem;
	background-color: #4ECC5C;
	border-radius: 50%;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: box-shadow 0.2s ease;
}

.whatsapp-float img {
  width: 32rem;
}

.whatsapp-float:hover {
  box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.2);
}

/* Fin Footer */

/* Modal img ampliada */

.modal-img-ampliada {
	position: fixed;
	z-index: 200;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(47, 47, 47, 0.9);
	display: none;
}

.modal-img-contenido {
	text-align: center;
}

.modal-img-ampliada h3 {
	text-align: center;
	color: #fff;
	margin: 0rem 16rem 20rem;
}

.modal-img-ampliada img {
	margin: auto;
	display: block;
	max-width: 100%;
}

.modal-img-ampliada h3,
.modal-img-ampliada img {
  opacity: 0;
  -webkit-animation-name: fadeZoom;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeZoom;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeZoom {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fadeZoom {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.cerrar-modal {
	background-image: url(/img/cerrar-modal.svg); 
	position: absolute;
	top: 24rem;
	right: 28rem;
	transition: 0.1s;
	width: 24rem;
	height: 24rem;
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
}

.cerrar-modal:hover {
	filter: brightness(70%);
	cursor: pointer;
}


/* Fin Modal img ampliada */

/* Modal Carta de colores */

.modal-carta-colores {
	position: fixed;
	z-index: 300;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(47, 47, 47, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.modal-colores {
	height: 84vh;
	width: 100%;
	max-width: 1200rem;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 0px 20px 0px #00000033;
	display: grid;
	grid-template-rows: auto 1fr auto;
	margin: 16rem;
}

.modal-colores-header {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	padding: 24rem 24rem 16rem;
	column-gap: 16rem;
}

.modal-colores-header button {
	width: 40rem;
	height: 40rem;
	justify-self: right;
}

.modal-colores-contenido {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 0rem 16rem 24rem;
	overflow-y: auto;
	overflow-x: hidden;
}

.modal-colores-contenido .card-articulo {
	width: 146rem;
	margin: 8rem;
}

.card-articulo-sk {
	border: 1px solid #E7E7E7;
}

.card-articulo-sk:hover {
	box-shadow: none;
}

.img-color {
	background-image: url(/img/color-ejemplo1.jpg);
}

.img-color-sk {
	background-image: linear-gradient(90deg, #D8D8D8, #F3F3F3);
	background-size: 200% 200%;
	animation: gradientAnimation 0.8s infinite alternate;
}

.img-color-sk:hover {
	cursor: default;
}

.color-info {
	padding: 12rem;
	text-align: center;
	display: grid;
}

.color-info h3 {
	margin-bottom: 12rem;
}

.h3-color-info-sk {
	height: 22rem;
	width: 85%;
	margin: 0 auto 12rem;
	background-image: linear-gradient(90deg, #D8D8D8, #F3F3F3);
	background-size: 200% 200%;
	animation: gradientAnimation 0.8s infinite alternate;
}

.color-info .cantidad-card {
	justify-self: center;
}

.seleccionar-color {
	background-color: #F3F3F3;
	padding: 12rem;
	display: grid;
	place-items: center;
    grid-template-columns: auto auto;
    column-gap: 12rem;
}

.seleccionar-color label {
	font-size: 14rem;
	justify-self: right;
}

.seleccionar-sk {
	height: 14rem;
	width: 100rem;
	background-image: linear-gradient(90deg, #D8D8D8, #F3F3F3);
	background-size: 200% 200%;
	animation: gradientAnimation 0.8s infinite alternate;
}

.seleccionar-color input[type="checkbox"] {
	margin: 0;
	justify-self: left;
}

.modal-colores-footer {
	padding: 24px;
	background-color: #fff;
	box-shadow: 0px -1px 4px 0px #00000033;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
}

.modal-colores-footer .btn-primario, .modal-colores-footer .btn-secundario {
	max-width: 156rem;
}

.modal-colores-footer .btn-primario {
	margin-left: 16rem;
}

.fade-in {
  animation: modalFadeIn 0.3s ease-in-out;
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fin Modal Carta de colores */

/* Drawer Carrito */

.drawer-carrito {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 47, 47, 0.5);
  z-index: 400;
  overflow: auto;
  display: none;
}

.carrito-contenido {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 516rem;
  height: 100vh;
  background-color: #fff;
  animation: slideInRight 0.3s forwards;
  display: flex;
  flex-direction: column;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.carrito-header {
	padding: 16rem 12rem 16rem 20rem;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	column-gap: 16rem;
	border-bottom: 1px solid #C0C0C0;
}

.carrito-header button {
	width: 40rem;
	height: 40rem;
	justify-self: right;
}

.carrito-cuerpo {
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

.carrito-item:nth-child(odd) {
	background-color: #F3F3F3;
}


.carrito-item {
	padding: 20rem;
	display: grid;
	grid-template-columns: repeat(4,auto);
	align-items: center;
}

.contenedor-img-carrito {
	width: 72rem;
	height: 72rem;
	background-image: url(/img/img-ejemplo1.jpg);
  	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #C0C0C0;
    margin-right: 16rem;
}

.item-titulo {
	text-transform: uppercase;
	margin-bottom: 4rem;
}

.item-precio {
	font-size: 16rem;
	font-weight: 700;
}

.carrito-item .cantidad-card {
	margin: 0 24rem;
}

.eliminar-link {
	display: none;
}

.eliminar {
	width: 40rem;
	height: 40rem;
	background-image: url(/img/eliminar-default.svg);
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: center;
	background-color: transparent;
	border: none;
	transition: background-image 0.1s ease-in-out;
	position: relative;
}

.eliminar:hover {
	cursor: pointer;
	background-image: url(/img/eliminar-hover.svg);
}

.tooltip-eliminar {
	visibility: hidden;
	font-size: 12rem;
	background-color: #fff;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.20);
	color: #2F2F2F;
	border-radius: 2px;
	border: 1px solid  #E7E7E7;
	text-align: center;
	padding: 8rem 12rem;
	position: absolute;
	z-index: 1;
	top: 100%;
	left: -42%;
	transition: background-image 0.1s ease-in-out;
}

.eliminar:hover .tooltip-eliminar {
  visibility: visible;
}

.total-carrito {
	background-color: #EAF9FF;
	box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.20);
	display: flex;
	justify-content: space-between;
	padding: 16rem 20rem;
}

.total-carrito p:first-child {
	font-size: 16px;
	font-weight: 600;
}

.total-carrito p:last-child {
	font-size: 16px;
	font-weight: 700;
}

.carrito-botones {
	background-color: #fff;
	padding: 24rem 20rem;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	column-gap: 16rem;
}

.carrito-emptystate {
	text-align: center;
	padding: 32rem 24rem;
}

.empty-titulo {
	font-size: 16rem;
	font-weight: 600;
	margin: 20rem 0 12rem;
}

.empty-texto {
	width: 100%;
    max-width: 372rem;
    margin: 0 auto;
}

.carrito-emptystate .btn-primario {
	margin-top: 20rem;
	width: auto;
}

/* Fin Drawer Carrito */

/* Modal salir sin guardar */

.modal-salir-guardar {
	position: fixed;
	z-index: 500;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(47, 47, 47, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.modal-salir {
	width: 100%;
	max-width: 600rem;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 0px 20px 0px #00000033;
	display: grid;
	grid-template-rows: auto 1fr auto;
	margin: 16rem;
}

.modal-salir-header {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	padding: 24rem 24rem 16rem;
	column-gap: 16rem;
}

.modal-salir-header button {
	width: 40rem;
	height: 40rem;
	justify-self: right;
}

.modal-salir-texto {
	padding: 0rem 24rem 52rem;
}


.modal-salir-footer {
	padding: 24px;
	background-color: #fff;
	box-shadow: 0px -1px 4px 0px #00000033;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
}

.modal-salir-footer .btn-primario, .modal-salir-footer .btn-secundario {
	max-width: 156rem;
}

.modal-salir-footer .btn-primario {
	margin-left: 16rem;
}

/* Fin Modal salir sin guardar */

/* **************************** INICIO MEDIA QUERIES **************************** */


@media only screen and (min-width: 1280px) {

	/* Contenedor principal */

	.card-articulo {
		max-width: 30%;
	}

	/* Fin Contenedor principal */
}

@media only screen and (max-width: 1000px) {

	/* Footer */

	footer {
		grid-template-columns: repeat(3,auto);
		column-gap: 32rem;
	}

	footer > a:first-child {
		display: none;
	}

	footer h3 {
		margin: 0 0 24rem;
	}

	footer li {
		padding-bottom: 24rem;
	}

	.contacto, .redes  {
		justify-self: center;
	}

	.afip {
		justify-self: left;
	}

	/* Fin footer */

}

@media only screen and (min-width: 601px) and (max-width: 1279px) {
	
	.buscador-carrito form {
		width: 100%;
	}

	.paginador {
		text-align: left;
	}
}


@media only screen and (max-width: 600px) {
	
	/* Header */

	.contenedor-header {
		padding-bottom: 24rem;
	}

	header {
		max-width: 100%;
		grid-template-columns: 1fr;
		margin: 0 16rem;
	}

	header a {
		grid-row: 1/2;
		grid-column: 1/2;
	}

	.logo-header {
		max-width: 132rem;
	}

	.buscador-carrito {
		grid-row: 1/2;
		grid-column: 1/2;
		grid-template-columns: 1fr;
		column-gap: 0;
		row-gap: 12rem;
	}

	.buscador-carrito form {
		grid-row: 2/3;
	}

	/* Fin Header */

	/* Contenedor principal */

	.contenedor-principal {
		max-width: 100%;
		grid-template-columns: 1fr;
		margin: 166rem 16rem 0;
		padding: 32rem 0rem 28rem;
	}

	.contenedor-principal nav {
		position: relative;
	}

	.contenedor-principal nav button {
		display: block;
	}

	.contenedor-principal nav ul {
		position: absolute;
		width: 100%;
		background-color: #fff;
		box-shadow: 0px 1px 4px 0px #00000040;
		margin-top: 4rem;
		padding-top: 20rem;
		display: none;
	}

	.contenedor-principal nav ul li {
		padding: 0 12rem;
	}

	h1 {
		font-size: 24rem;
		border-top: 1px solid #C0C0C0;
		margin-top: 28rem;
		padding-top: 28rem;
		line-height: 30rem;
	}

	.filtros h2 {
		font-size: 18rem;
	}

	.contenedor-articulos {
		margin-top: 28rem;
		justify-content: center;
	}

	.sin-resultados .btn-primario {
		width: 100%;
	}

	/* Fin Contenedor principal */

	/* Footer */

	footer {
		grid-template-columns: 1fr;
		padding: 28rem 0;
	}

	footer li:last-child:not(.redes li:last-child) {
		border-bottom: 1px solid #C0C0C0;
		padding-bottom: 32rem;
	}

	.contacto, .redes, .afip  {
		justify-self: left;
		margin-top: 28rem;
		width: 100%;
	}


	.afip {
		margin-top: 12rem;
	}

	/* Fin Footer */

	/* Modal Carta de colores */

	.modal-colores {
		height: 94vh;
	}

	/* Fin Modal Carta de colores */

	/* Drawer Carrito */

	.carrito-item {
		grid-template-columns: repeat(3,auto);
		align-items: flex-start;
	}

	.contenedor-img-carrito {
		width: 44rem;
		height: 44rem;
	}

	.item-titulo {
		margin-right: 24rem;
	}

	.carrito-item .cantidad-card {
		margin: 0;
		row-gap: 20rem;
	}

	.carrito-item .eliminar {
		display: none;
	}

	.eliminar-link {
		display: block;
		font-size: 14rem;
		grid-column: 1/4;
		color: #186CBA;
	}

	.carrito-botones {
		grid-template-columns: 1fr;
		row-gap: 12rem;
		padding: 16rem;
	}

	.carrito-botones .btn-primario {
		order: -2;
	}

	.carrito-botones .btn-secundario {
		order: -1;
	}

	/* Fin Drawer Carrito */
}

@media only screen and (max-width: 400px) {

	/* Modal Carta de colores */

	.modal-colores-header {
		padding: 16rem;
	}

	.modal-colores-header h2 {
		font-size: 16rem;
		line-height: 20rem;
	}

	.modal-colores-footer {
		flex-direction: column-reverse;
		padding: 16rem;
	}

	.modal-colores-footer .btn-primario {
		margin-left: 0;
		margin-bottom: 12px;
	}

	.modal-colores-footer .btn-primario, .modal-colores-footer .btn-secundario {
		max-width: 100%;
	}

	/* Fin Modal Carta de colores */

	/* Modal salir sin guardar */

	.modal-salir-header h2 {
		font-size: 16rem;
		line-height: 20rem;
	}

	/* Fin Modal salir sin guardar */

}

/* **************************** FIN MEDIA QUERIES **************************** */
